<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>u_register</servlet-name>
        <servlet-class>u_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>u_login</servlet-name>
        <servlet-class>u_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>careers</servlet-name>
        <servlet-class>careers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c_register</servlet-name>
        <servlet-class>c_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c_login</servlet-name>
        <servlet-class>c_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_login</servlet-name>
        <servlet-class>a_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wedding2</servlet-name>
        <servlet-class>wedding2.wedding2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dwedding</servlet-name>
        <servlet-class>dwedding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wedding</servlet-name>
        <servlet-class>wedding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_wedding</servlet-name>
        <servlet-class>wedding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout2</servlet-name>
        <servlet-class>logout2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>u_register</servlet-name>
        <url-pattern>/u_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>u_login</servlet-name>
        <url-pattern>/u_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>careers</servlet-name>
        <url-pattern>/careers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c_register</servlet-name>
        <url-pattern>/c_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c_login</servlet-name>
        <url-pattern>/c_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_login</servlet-name>
        <url-pattern>/a_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wedding2</servlet-name>
        <url-pattern>/wedding2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dwedding</servlet-name>
        <url-pattern>/dwedding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wedding</servlet-name>
        <url-pattern>/wedding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_wedding</servlet-name>
        <url-pattern>/d_wedding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout2</servlet-name>
        <url-pattern>/logout2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
